/*
	Style sheet for minds_eye
	Author: Jim V.
	
*/

body {
  margin-top:0px;
  background: #72839d;
  color: #000;
}

table {
  border: 1px solid #777777;
}

img {
  border: none;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

a:hover {
/*  text-decoration: underline;*/
  color: #111;
}

a.search-button, a.search-button:hover {
  width: 40px;
  display: block;
  padding: 20px;
  margin: 20px;
  border: 1px dotted #777777;
}

a.search-button:hover {
  background-color: #ededed;
}

#nav {border-top: 1px solid #777777;background: #333333;padding:6px 0px;*margin-top:-3px;height:26px;}


ul#nav {float:right;clear:right;margin:0px 54px -3px 0px;}
ul#nav li {display:inline;line-height:1.7em;}
ul#nav li a {display:block;float:left;text-decoration:none;}
ul#nav li a span{visibility:hidden;}
/*
ul#primary_navigation li#portfolio a {width:87px;background: url(../images/style/portfolio.gif) top left no-repeat;}
ul#primary_navigation li#portfolio a:hover {background-position:0px -24px;}
ul#primary_navigation li#team a {width:51px;background: url(../images/style/team.gif) top left no-repeat;}
ul#primary_navigation li#team a:hover {background-position:0px -24px;}
ul#primary_navigation li#contact a {width:75px;background: url(../images/style/contact.gif) top left no-repeat;}
ul#primary_navigation li#contact a:hover {background-position:0px -24px;}
ul#primary_navigation li#blog a {width:52px;background: url(../images/style/blog.gif) top left no-repeat;}
ul#primary_navigation li#blog a:hover {background-position:0px -24px;}
*/

#logo {
	height: 133px;
	background-color: #72839d;
	/*background-repeat: no-repeat;
	 background-position: right center;*/
}

#logo img {
	padding-left: 25px;
}

#content .container {background: #ffffff; width: 890px; margin:auto; padding-top:0px;border-top:3px solid #ebebeb;padding-left: 10px;}


/*#content img  {border: 1px solid #91ac7b;padding:9px;background:#eeffff;}*/

/*#content  .logo {border: 1px solid #91ac7b;  margin-right: 13px;}*/

#logo-text {
	font-size: 150%;
}

#flash {
  text-align: center;
  color: green;
}



/* For great looking type, use this code instead of asdf: 
   <span class="alt">asdf</span>  
   Best used on prepositions and ampersands. */
  
.alt { 
  color: #666666; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-style: italic;
  font-weight: normal;
}

.quote {color:#595131;  font-size: 1em; font-family: georgia italic, times new roman italic, serif;}