#gallery {
	text-align: left;
	margin: 20px auto;
	width: 685px;
	background: #fff;
	padding: 20px 30px 70px;
	border-top: 1px solid #E6E6DF;
	border-right: 1px solid #E6E6DF;
	border-bottom: 5px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
}


.thumbnail a, .thumbnail a:hover {
	display: block;
	padding: 9px;
	margin: 0px 9px 9px 0px;
	line-height: 0px;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
}

.thumbnail a:visited {
    background-color: #fcfcfc;
    border: 1px solid #f8f8f8;
}

.thumbnail a:hover {
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
}

.thumbnail {
	float: left;
}

.title {
  text-align: center;
  padding-bottom: 20px;
}

.photo {
  text-align: center;
  margin: 20px auto;
}

#tagbox {
  clear: right;
  display: block;
  padding: 20px;
}

#tagbox .tag {
  background-color: #ffffff;
  float: left;
  
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

#tagbox .tag a, #tagbox .tag a:hover {
  font-size: 200%;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px;
}

#tagbox .tag a:hover {
  background-color: #f6f6f6;
}

.clearbox {
  clear: both;
  height: 10px;
}

