<h2 class="title"><%=h @tag.name %></h2>
<%= render :partial => 'photos/gallery', :locals => {:photos => @photos}%>
<%= render :partial => 'photos/paginate', :locals => {:object => @photos} %>
<%= link_to "Back to Tags", tags_url %>

